@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  position: fixed;
  width: 1920px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav #box {
  margin: 59px auto 0px;
  width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 204px 351px 394px 120px 150px;
      grid-template-columns: 204px 351px 394px 120px 150px;
}

nav #box #link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav #box #link a {
  font-size: 18px;
}

nav #box #link a:nth-child(2) {
  text-align: center;
}

nav #box #link a:nth-child(3) {
  text-align: right;
}

nav #box #social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav #box #social a:nth-child(2) {
  text-align: right;
}

#banner {
  background-image: url(./img/橫幅.png);
  width: 1920px;
  height: 1280px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner img {
  margin: 0px auto;
}

#contant {
  width: 1920px;
  background-image: url(./img/背景紙張素材.png);
  border: 0.05px solid rgba(0, 0, 0, 0);
}

#contant h1 {
  text-align: center;
  margin-top: 46px;
  font-size: 32px;
  letter-spacing: 9.6px;
  font-weight: 300;
}

#contant #news {
  width: 1200px;
  margin: 59px auto 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#contant #news div {
  background: white;
}

#contant #news div h6 {
  color: #49aa45;
  text-align: center;
  margin-top: 39px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 3.6px;
}

#contant #news div h2 {
  margin-top: 27px;
  text-align: center;
  font-size: 22px;
  letter-spacing: 6.6px;
  font-weight: bold;
}

#contant #news div hr {
  border: 0.5px solid black;
  width: 0px;
  margin: 0px auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#contant #news div:hover hr {
  width: 325px;
}

#contant #news div p {
  width: 322px;
  margin: 28px auto 0px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 4.8px;
  line-height: 1.88;
  color: #333333;
}

#contant #news div img {
  width: 320px;
  height: 320px;
  margin: 31px 30px 41px;
}

#contant #drink {
  margin-top: 60px;
  position: relative;
  text-align: center;
}

#contant #drink #text {
  width: 230px;
  position: absolute;
  top: 73px;
  right: 530px;
}

#contant #drink #text h5 {
  color: #f5bb28;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 8px;
  text-align: center;
}

#contant #drink #text h2 {
  margin-top: 30px;
  color: #cccccc;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.8px;
}

#contant #drink #text p {
  margin-top: 46px;
  font-size: 20px;
  line-height: 2.5;
  letter-spacing: 5px;
  text-align: left;
}

#contant #idea {
  width: 1200px;
  margin: 60px auto 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 620px auto;
      grid-template-columns: 620px auto;
  grid-gap: 20px;
}

#contant #idea img {
  width: 620px;
  height: 360px;
  border: 5px solid white;
}

#contant #idea h3 {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 7.2px;
}

#contant #idea h4 {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  line-height: 2.5;
  letter-spacing: 6px;
}

#contant #idea button {
  margin-top: 50px;
  width: 220px;
  height: 52px;
  padding: auto;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 5.4px;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #252525;
}

#contant #footer {
  padding-top: 126px;
  height: 420px;
  text-align: center;
}

#contant #footer p {
  margin-top: 73px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 3.6px;
  font-weight: bold;
}

#contant #footer p:nth-child(3) {
  margin-top: 14px;
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */